<!DOCTYPE html>


{% load staticfiles %}
<html>
<head>
	<title>Quicksell Home</title>
	<link rel="stylesheet" type="text/css" href="{% static 'finalApp/css/index.css' %}" />
</head>
<body>
	<div id="container">
		<div id="header">
			<div>
				
				<!-- <img src="{% static "finalApp/images/background.jpg"%}" align="left" style="width:304px; height:228 " position="center"> -->

			</div>
			<h1>QUICKSELL STORE</h1>
			
			
		</div>
		<div id="navbar">
			<span><a href="finalApp/index.html">Home</a></span>

			<span></span>
			<span><a href="finalApp/register.html">Register</a></span>
			<span></span>
			<span></span>
			<span></span>
			<span><a href="finalApp/login.html">Login</a></span>
			<span></span>
			<span><a href="finalApp/admin_page"></a></span>
		</div>
		<div id="sidebar"></div>
		<div id="viewer">
			<div>
				
			</div>
			<div>
				<img src="{% static "finalApp/images/team.jpg" %}" vspace="20" hspace="20">
				<span>
					<button><a href="">Add to cart</a></button>
	
				</span>
				<img src="{% static "finalApp/images/team.jpg" %}" vspace="20" hspace="20">
				<span>
					<button><a href="">Add to cart</a></button>
	
				</span>
				
			<img src="{% static "finalApp/images/team.jpg" %}" vspace="20" hspace="20">
			<span>
				<button><a href="">Add to cart</a></button>
			</span>
					

				
		</div>
			
		
		
	</div>
	
	
	
	

</body>
</html>